<!DOCTYPE html>
<html>
<head>
    <title>Rest API Client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head> 
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let sousMenu of menu">
          <a class="nav-link" routerLinkActive="active" routerLink="{{sousMenu.url}}" >{{sousMenu.name}}</a></li>
      </ul>
    </div>
</nav>
<div class="container p-3 my-2 border">
<router-outlet ></router-outlet>
</div>
</html>